.logo-container{
    /* left: 40%; */
    /* margin:0 auto; */
    /* align-content: center; */

    position: relative;
    top: 30px;
    z-index: 3;
}
.logo-container h2{
    text-align: center;
    font-weight: 400;
}

.logo-container .logo{
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #333333;
    width: 60px;
    float: left;
}
.logo-container .brand{
    font-size: 18px;
    color: #FFFFFF;
    line-height: 20px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    width: 60px
}
