<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../static/css/mysite.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<body>
<div class="container">
    <div class="border border-light col-md-8 offset-md-2" style="background:#fcf7b8;">
        <nav class="navbar navbar-light" style="background:#ffd51c;">
            <a class="navbar-brand" href="{% url 'products' %}"><img src="../static/images/icons/back2.png" alt="back" style="height:30px;width:30px;"></a>
            <h3 class="offset-md-2 text-dark"><b>Liste d'Achats</b></h3>
        </nav>

        {% for ord in orders %}
        <div class="card-deck mx-auto" style="margin-top:1%;">
            <div class="card">
                <div class="row">
                    <div class="col-5">
                        {% if ord.product.image %}
                        <img class="card-img-top" src="..." alt="Card image cap" style="height:200px; weight:200px;">
                        {% else %}
                        <img src="../static/images/default.jpg" alt="No photo available " style="height:200px; weight:200px;">
                        {% endif %}
                    </div>

                    <div class="col-7">
                        <dl class="row d-flex align-items-center" style="padding-top:1%;">
                            <p hidden class="col-sm-4" id="like_id">{{ ord.id }}</p>
                            <dt class="col-sm-4"><small>Nom :&nbsp</small></dt>
                            <dd class="col-sm-8"><small>{{ ord.product.name }}</small></dd>
                            <dt class="col-sm-4"><small>Prix :&nbsp</small></dt>
                            <dd class="col-sm-8"><small>{{ ord.product.price }}&nbsp €</small></dd>
                            <dt class="col-sm-4"><small>Description : &nbsp</small></dt>
                            {% if ord.product.descriptions %}
                            <dd class="col-sm-8"><small> {{ ord.product.descriptions }}</small></dd>
                            {% else %}
                            <dd class="col-sm-8"><small>Aucune.. </small></dd>
                            {% endif %}
                            <dt class="col-sm-4"><small>Catégorie :&nbsp</small></dt>
                            <dd class="col-sm-8"><small> {{ ord.product.category }}</small></dd>
                            <dt class="col-sm-4"><small>Posteur :&nbsp</small></dt>
                            <dd class="col-sm-8"><small> {{ ord.product.user.username }}</small></dd>
                            <dt class="col-sm-4"><small>Date d'achat :&nbsp</small></dt>
                            <dd class="col-sm-8"><small> {{ ord.date_order }}</small></dd>
                            <dt class="col-sm-4"><small>Statue :&nbsp</small></dt>
                            <dd class="col-sm-8"><small> {{ ord.status }}</small></dd>
                        </dl>
                        <div class="row">
                            <form method="POST" class="row" style="margin-bottom:2%;margin-top:3%;" onsubmit="return get_lid()">
                                <input type="hidden" class="form-control" id="order-id" name="order-id" value="{{ord.id}}" >
                                <div class="col">
                                    <button class="btn btn-outline-secondary" type="submit" name="action" value="cancel">Annuler
                                    </button>
                                </div>
                                <div class="col">
                                    <button class="btn btn-outline-warning" type="submit" name="action" value="comment">Commenter
                                    </button>
                                </div>
                                <a class="text-info" href="{% url 'detail' ord.product.id %}">&nbsp &nbsp Plus...&nbsp &nbsp</a>
                            </form>
                        </div>
                    </div>

                </div>
                <div class="card-footer text-muted">
                </div>
            </div>
        </div>
        {% endfor %}

        <nav class="d-flex justify-content-center" aria-label="Page navigation" style="margin-top:2%;">
            <ul class="pagination">
                <!--        {# page before #}-->
                {% if page_obj.has_previous %}
                <li style="margin-right:10%;"><a
                        href="{% url 'all_likes' username %}?page={{ page_obj.previous_page_number}}"><< </a></li>
                {% else %}
                <li style="margin-right:10%;" class="disabled"><a href="javascript:void(0);"><< </a></li>
                {% endif %}

                <!--        if left has more-->
                {% if left_has_more %}
                <li style="margin-right:10%;"><a href="{% url 'all_likes' username %}?page=1"></a></li>
                <li style="margin-right:10%;"><a href="javascript:void(0);">...</a></li>
                {% endif %}
                <!--        left page number-->
                {% for left_page in left_pages %}
                <li style="margin-right:10%;"><a href="{% url 'all_likes' username %}?page={{ left_page }}">{{ left_page }}</a>
                </li>
                {% endfor %}

                <!--        current page number-->
                <li style="margin-right:10%;" class="active"><a href="{% url 'all_likes' username %}?page={{ current_page }}">{{ current_page }}</a></li>

                <!--        right page number-->
                {% for right_page in right_pages %}
                <li style="margin-right:10%;"><a href="{% url 'all_likes' %}?page={{ right_page }}">{{ right_page }}</a>
                </li>
                {% endfor %}

                <!--        right has more-->
                {% if right_has_more %}
                <li style="margin-right:10%;"><a href="javascript:void(0);">...</a></li>
                <li style="margin-right:10%;"><a href="{% url 'all_likes' username %}?page={{ total_page }}">{{ total_page }}</a>
                </li>
                {% endif %}

                <!--        page next-->
                {% if page_obj.has_next %}
                <li style="margin-right:10%;"><a href="{% url 'all_likes' username %}?page={{ page_obj.next_page_number}}">
                    >></a>
                </li>
                {% else %}
                <li style="margin-right:10%;" class="disable"><a href="javascript:void(0);"> >></a></li>
                {% endif %}

            </ul>
        </nav>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>