<html>
<head>
	<meta charset="UTF-8">
    <!--===============================================================================================-->
	<link rel="icon" type="image/png" href="../static/images/icons/favicon.ico"/>
<!--/static -->
	<!--bootstrap/css-->
<!--	<link rel="stylesheet" type="text/css" href="../static/vendor/bootstrap/bootstrap.css">-->
<!--	<link rel="stylesheet" type="text/css" href="../static/vendor/bootstrap/bootstrap.css.map">-->
<!--	<link rel="stylesheet" type="text/css" href="../static/vendor/bootstrap/bootstrap.min.css">-->
<!--	<link rel="stylesheet" type="text/css" href="../static/vendor/bootstrap/bootstrap.min.css.map">-->
<!--	<link rel="stylesheet" type="text/css" href="../static/vendor/bootstrap/bootstrap-grid.css">-->
<!--	<link rel="stylesheet" type="text/css" href="../static/vendor/bootstrap/bootstrap-grid.css.map">-->
<!--	<link rel="stylesheet" type="text/css" href="../static/vendor/bootstrap/bootstrap-grid.min.css">-->
<!--	<link rel="stylesheet" type="text/css" href="../static/vendor/bootstrap/bootstrap-grid.min.css.map">-->
<!--	<link rel="stylesheet" type="text/css" href="../static/vendor/bootstrap/bootstrap-theme.css">-->
<!--	<link rel="stylesheet" type="text/css" href="../static/vendor/bootstrap/bootstrap-theme.css.map">-->
<!--	<link rel="stylesheet" type="text/css" href="../static/vendor/bootstrap/bootstrap-theme.min.css">-->
<!--	<link rel="stylesheet" type="text/css" href="../static/vendor/bootstrap/bootstrap-theme.min.css.map">-->

	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">

	<link rel="stylesheet" type="text/css" href="../static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../static/fonts/iconic/css/material-design-iconic-font.min.css">
	<link rel="stylesheet" type="text/css" href="../static/vendor/animate/animate.css">
	<link rel="stylesheet" type="text/css" href="../static/vendor/css-hamburgers/hamburgers.min.css">
	<link rel="stylesheet" type="text/css" href="../static/vendor/animsition/css/animsition.min.css">
	<link rel="stylesheet" type="text/css" href="../static/vendor/select2/select2.min.css">
	<link rel="stylesheet" type="text/css" href="../static/vendor/daterangepicker/daterangepicker.css">

<!--bootstrap/css-->

<!--css DIY-->
	<link rel="stylesheet" type="text/css" href="../static/css/util.css">
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <link rel="stylesheet" type="text/css" href="../static/css/mysite.css">
</head>
    <body>
        <div class="content container">
                {% block content %}
                {% endblock %}
        </div>
		<script src="../static/js/myjs.js"></script>

<!--js in /static-->
		<script src="../static/js/jquery.min.js"></script>
<!--		<script src="../static/js/bootstrap.min.js"></script>-->
	<script src="../static/vendor/jquery/jquery-3.2.1.min.js"></script>
	<script src="../static/animsition/js/animsition.min.js"></script>
	<script src="../static/bootstrap/js/popper.js"></script>
	<script src="../static/bootstrap/js/bootstrap.min.js"></script>
	<script src="../static/select2/select2.min.js"></script>
	<script src="../static/daterangepicker/moment.min.js"></script>
	<script src="../static/daterangepicker/daterangepicker.js"></script>
	<script src="../static/countdowntime/countdowntime.js"></script>
<!--bootstrap/js-->
	<script src="../static/js/main.js"></script>
	<script src="../static/js/bootstrap.js"></script>
	<script src="../static/js/bootstrap.min.js"></script>
<!--	<script src="../static/vendor/bootstrap/bootstrap.bundle.js"></script>-->
<!--	<script src="../static/vendor/bootstrap/bootstrap.bundle.js.map"></script>-->
<!--	<script src="../static/vendor/bootstrap/bootstrap.bundle.min.js"></script>-->
<!--	<script src="../static/vendor/bootstrap/bootstrap.bundle.min.js.map"></script>-->
<!--	<script src="../static/vendor/bootstrap/bootstrap.js"></script>-->
<!--	<script src="../static/vendor/bootstrap/bootstrap.min.js"></script>-->
<!--	<script src="../static/vendor/bootstrap/npm.js"></script>-->


    </body>

</html>
