<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../static/css/mysite.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="border border-light col-md-8 offset-md-2" style="background:#fcf7b8;">
    <nav class="navbar navbar-light" style="background:#ffd51c;">
            <a class="navbar-brand" href="{% url 'products' %}"><img src="../static/images/icons/back.png" alt="back" style="height:30px;width:30px;"></a>


        {% if username %}
        <div class="nav-item">
            <a class="nav-link text-white" href="{% url 'add_product' %}">Publier</a>
        </div>
        {% endif %}

        {% if username %}
        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" id="my-acc" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                Mon Compte
            </a>
            <div class="dropdown-menu" aria-labelledby="my-acc">
                <a class="dropdown-item" href="{% url 'all_likes' username %}">Aimé</a>
                <a class="dropdown-item" href="{% url 'all_orders' username %}">Achats</a>
            </div>
        </div>

        <a class="navbar-brand disabled text-dark" href="#">
        {% if username %}
            <b>Bonjour,{{ username }} </b>
        {% else %}
            <span>
               <b>Cher Client</b>
            </span>
        {% endif %}
            </a>
        {% endif %}
        </nav>
    <div></div>
        {% block content %}
        {% endblock %}
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>