<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../static/css/mysite.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container" style="background:#F8E639;padding-top:1%;padding-bottom:1%;">
    <div class="border border-white " style="margin-top=2%;padding-top:2%;padding-bottom:2%;">
        <div class="row d-flex justify-content-center"><h3 class="text-dark font-weight-bold">
            Déposer une annonce
        </h3></div>

        <div class="d-flex justify-content-center">
            <p class="text-danger" style="font-size:10px">Attention : Les champs avec * sont obligatoire à
                remplir!!! </p>
        </div>


        <div class="col-md-8 offset-md-2" style="width=80%;">


            <div class="help-block avec_erreur badge badge-danger" id="alert-vide"
                 style="margin-top:5px;display:none">Les champs avec * sont obligatoire à remplir!!
            </div>

            <form role="form" action="{% url 'add_product' %}" class="form-horizontal" role="form"
                  onsubmit="return check_add_product()" method="POST" id="form-add-pdt">
                <div class="form-group">
                    <label for="pdt-name">Nom de Produit *</label>
                    <input type="text" class="form-control" id="pdt-name" name="pdt-name" required>
                </div>

                <div class="form-group">
                    <label for="pdt-price">Prix *</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="pdt-price"
                               aria-describedby="inputGroupPrepend" name="pdt-price" pattern="^[0-9]+(.[0-9]{1,3})?$"
                               required>
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupPrepend">€</span>
                        </div>

                        <div class="invalid-feedback">
                            Veuillez saisir les chiffres en bon format!
                        </div>

                        <div class="help-block avec_erreur badge badge-danger" id="alert-price"
                             style="margin-top:5px;display:none">Veuillez saisir les chiffres en bon format!
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <label for="pdt-category">Catégorie *</label>
                    <select class="form-control" id="pdt-category" name="pdt-category">
                        <option value="Autres" selected>Autres</option>
                        <option value="Vêtements">Vêtements</option>
                        <option value="Sport">Sport</option>
                        <option value="Etude">Etude</option>
                        <option value="Animal">Animal</option>
                        <option value="Cusine">Cusine</option>
                        <option value="Maison">Maison</option>
                    </select>
                </div>


                <div class="form-group">
                    <label for="pdt-desp">Description</label>
                    <textarea class="form-control" id="pdt-desp" name="pdt-desp" rows="3"></textarea>
                </div>

                <div class="form-group">
                    <label>Image</label>
                    <div class="input-group bg-light">
                        <div class="custom-file bg-light">
                            <input type="file" class="file-input form-control" id="pdt-image" name="pdt-image" enctype="multipart/form-data">
                            <label class="file-label" for="pdt-image">Chosir le fichier (png,jpg,bmp...)</label>
                        </div>
                    </div>
                </div>

                <div class="form-group d-flex justify-content-center" style="margin-top:3%;">
                    <!-- Button -->
                    <input id="btn-addpdt" type="submit" class="btn btn-success col-md-3 "></input>
                    <a href="{% url 'products' %}" class="btn btn-danger col-md-3 offset-md-2">Annuler</a>
                </div>
            </form>
        </div>

    </div>
</div>
<script src="../static/js/myjs.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>