<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../static/css/mysite.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container bg-gradient-light" style="padding-top:1%;padding-bottom:1%;">
    <div id="title" class="bg-primary col-md-8 offset-md-2 d-flex justify-content-center" style="margin-bottom:1%;">
        <h3 class="text-white">Profile</h3>
    </div>

    <!--    alert-->
    <div id="alert-window" class="col-md-8 offset-md-2 d-flex justify-content-center" style="margin-bottom:1%;">
        <div class="help-block avec_erreur badge badge-danger" id="context_msg">{{ state }}
        </div>
    </div>

    <!--    edit pwd-->
    <div id="edit-pwd" class="border border-primary col-md-8 offset-md-2"
         style="margin-top=2%;padding:2%;margin-bottom:2%;">
        <div class="col-md-10 offset-md-2">
            <form action="{% url 'edit_pwd' %}" class="form-horizontal" role="form"
                  onsubmit="return check_mdf_pwd()" method="POST" id="form-edit-pwd">
                <div class="panel-heading">
                    <div class="panel-title text-info"><h5>Mot de Passe</h5></div>
                </div>

                <div class="form-group">
                    <label for="old-pwd" class="control-label">Ancien Mot de passe</label>
                    <div class="col-md-9">
                        <input type="password" class="form-control" id="old-pwd" name="old-pwd" onfocus="this.value=''"
                               required>

                    </div>
                </div>

                <div class="form-group">
                    <label for="new-pwd" class="control-label">Nouveau Mot de passe</label>
                    <div class="col-md-9">
                        <input type="password" class="form-control" id="new-pwd" name="new-pwd"
                               placeholder="Minimum de 8 caractere" onfocus="this.value=''"
                               required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="re-pwd" class="control-label">Confirmer Mot de passe</label>
                    <div class="col-md-9">
                        <input type="password" class="form-control" id="re-pwd" name="re-pwd"
                               placeholder="Minimum de 8 caractere" onfocus="this.value=''"required>
                    </div>
                </div>

                <div>
                    <div class="help-block avec_erreur badge badge-danger" id="alert"
                         style="margin-top:5px;display:none;">Les mots de passe entrés deux fois ne correspondent
                        pas!!!
                    </div>
                    <div class="help-block avec_erreur badge badge-danger" id="alert_2"
                         style="margin-top:5px;display:none;">Les mots de passe sont Minimum de 8 caractere!!!
                    </div>
                </div>

                <div class="form-group">
                    <!-- Button -->
                    <div class="col-md-offset-3 col-md-9" style=" margin-top:20px;">
                        <button id="btn-pwd" type="submit" class="btn btn-info col-md-12"><i
                                class="icon-hand-right"></i> &nbsp S'enregister
                        </button>

                    </div>
                </div>

            </form>
        </div>
    </div>

    <div class="d-flex justify-content-center col-md-8 offset-md-2">
        <span class="text-dark">Modifier des autres information..? </span>
        <a href="{% url 'edit_name' %}"> &nbsp identification </a><span class="text-dark">&nbsp|&nbsp</span>
        <a class="text-success" href="{% url 'edit_phone' %}">portable </a><span class="text-dark">&nbsp|&nbsp</span>
        <a class="text-secondary" href="{% url 'edit_address' %}">adress </a>
    </div>

    <div id="end" class="bg-warning d-flex justify-content-center col-md-8 offset-md-2" style="margin-bottom:1%;">
        <span class="text-white">Vous ne voulez pas modifier ? </span>
        <a class="text-danger" href="{% url 'products' %}" style="color:red">&nbsp &nbsp Retour</a>
    </div>


</div>
<script src="../static/js/myjs.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>