<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../static/css/mysite.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container bg-gradient-light" style="padding-top:1%;padding-bottom:1%;">
    <div id="title" class="bg-primary col-md-8 offset-md-2 d-flex justify-content-center" style="margin-bottom:1%;">
        <h3 class="text-white">Profile</h3>
    </div>

<!--    alert-->
     <div id="alert-window" class="col-md-8 offset-md-2 d-flex justify-content-center" style="margin-bottom:1%;">
        <p>{{ context.info }}</p>
         <p style="disponible:none;"></p>
         <label name="submit-type" style="disponible:none;"></label>
    </div>

<!--    edit name-->
    <div id="edit-name" class="border border-primary col-md-8 offset-md-2"
         style="margin-top=2%;padding:2%;margin-bottom:2%;">
        <div class="col-md-10 offset-md-2">
            <form action="POST" action="{% url 'edit_profile' %}" class="form-horizontal" role="form"
                  onsubmit="return edit_submit()" method="POST" id="form-edit-name">
                <div class="panel-heading">
                    <div class="panel-title text-info"><h5>Identification</h5></div>
                </div>
                <div class="form-group">
                    <label for="firstname" class="control-label">Prénom </label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Prenom" required>

                    </div>

                    <div class="form-group">
                        <label for="lastname" class="control-label">Nom </label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Nom" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <!-- Button -->
                        <div class="col-md-offset-3 col-md-9" style=" margin-top:20px;">
                            <button id="btn-name" type="submit" class="btn btn-info col-md-12"><i
                                    class="icon-hand-right"></i> &nbsp S'enregister
                            </button>

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

<!--    edit pwd-->
    <div id="edit-pwd" class="border border-primary col-md-8 offset-md-2"
         style="margin-top=2%;padding:2%;margin-bottom:2%;">
        <div class="col-md-10 offset-md-2">
            <form action="POST" action="{% url 'edit_profile' %}" class="form-horizontal" role="form"
                  onsubmit="return check_add_product()" method="POST" id="form-edit-pwd">
                <div class="panel-heading">
                    <div class="panel-title text-info"><h5>Mot de Passe</h5></div>
                </div>
                <div class="form-group">
                    <label for="firstname" class="control-label">Mot de passe</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="pwd" name="pwd" placeholder="Minimum de 8 caractere" required>

                    </div>

                    <div class="form-group">
                        <label for="lastname" class="control-label">Confirmer Mot de passe</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="re-pwd" name="re-pwd" placeholder="Minimum de 8 caractere" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <!-- Button -->
                        <div class="col-md-offset-3 col-md-9" style=" margin-top:20px;">
                            <button id="btn-pwd" type="submit" class="btn btn-info col-md-12"><i
                                    class="icon-hand-right"></i> &nbsp S'enregister
                            </button>

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
<!--    edit address-->
    <div id="edit-address" class="border border-primary col-md-8 offset-md-2"
         style="margin-top=2%;padding:2%;margin-bottom:2%;">
        <div class="col-md-10 offset-md-2">
            <form action="POST" action="{% url 'edit_profile' %}" class="form-horizontal" role="form"
                  onsubmit="return check_add_product()" method="POST" id="form-edit-address">
                <div class="panel-heading">
                    <div class="panel-title text-info"><h5>Adresse</h5></div>
                </div>


                <div class="form-group">
                    <label for="city" class="control-label">Ville *</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="city" name="city" placeholder="Ville" required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="zipcode" class="control-label">Code Postal *</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" maxlength="7" id="zipcode" name="zipcode"
                               placeholder="Code postal" required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="street" class="control-label">Rue *</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" maxlength="7" id="street" name="street"
                               placeholder="? Rue/Square/voie.. XXX" required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="addition" class="control-label">Addition</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="addition" name="addition" placeholder="Appt ..."
                               required>
                    </div>
                </div>

                <div class="form-group">
                    <!-- Button -->
                    <div class="col-md-offset-3 col-md-9" style=" margin-top:20px;">
                        <button id="btn-address" type="submit" class="btn btn-info col-md-12"><i
                                class="icon-hand-right"></i> &nbsp S'enregister
                        </button>

                    </div>
                </div>
            </form>
        </div>
    </div>

<!--    edit phone-->
    <div id="edit-phone" class="border border-primary col-md-8 offset-md-2"
         style="margin-top=2%;padding:2%;margin-bottom:2%;">
        <div class="col-md-10 offset-md-2">
            <form action="POST" action="{% url 'edit_profile' %}" class="form-horizontal" role="form"
                  onsubmit="return check_add_product()" method="POST" id="form-edit-phone">
                <div class="form-group">
                    <label for="phone" class="control-label">Téléphone </label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="phone" name="phone" placeholder="Téléphone"
                        >
                    </div>
                </div>
                <div class="form-group">
                    <!-- Button -->
                    <div class="col-md-offset-3 col-md-9" style=" margin-top:20px;">
                        <button id="btn-phone" type="submit" class="btn btn-info col-md-12"><i
                                class="icon-hand-right"></i> &nbsp S'enregister
                        </button>

                    </div>
                </div>
            </form>
        </div>
    </div>

    <div id="end" class="bg-warning d-flex justify-content-center col-md-8 offset-md-2" style="margin-bottom:1%;">
                <span class="text-white">Vous ne voulez pas modifier ? </span>
                <a class="text-danger" href="{% url 'products' %}" style="color:red">&nbsp &nbsp Retour</a>
    </div>
</div>
</div>
<script src="../static/js/myjs.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>