<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../static/css/mysite.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <nav class="navbar justify-content-between" style="background:#FFCC00;margin-top:2%;">
        <a class="navbar-brand disabled text-dark" href="#">
        {% if username %}
            <b>Bonjour,{{ username }} </b>
        {% else %}
            <span>
               <b>Cher Client</b>
            </span>
        {% endif %}
            </a>


        {% if username %}
        <div class="nav-item">
            <a class="nav-link text-white" href="{% url 'add_product' %}">Publier</a>
        </div>
        {% endif %}

        {% if username %}
        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" id="my-acc" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                Mon Compte
            </a>
            <div class="dropdown-menu" aria-labelledby="my-acc">
                <a class="dropdown-item" href="{% url 'all_likes' username %}">Aimé</a>
                <a class="dropdown-item" href="{% url 'all_orders' username %}">Achats</a>
            </div>
        </div>
        {% endif %}

        {% if username %}
        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" id="editor" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                Editer
            </a>
            <div class="dropdown-menu" aria-labelledby="editor">
                <a class="dropdown-item" href="{% url 'edit_name' %}">Identification</a>
                <a class="dropdown-item" href="{% url 'edit_pwd' %}">Mots de passe</a>
                <a class="dropdown-item" href="{% url 'edit_address' %}">Adress</a>
                <a class="dropdown-item" href="{% url 'edit_phone' %}">Téléphone</a>
            </div>
        </div>
        {% endif %}

        {% if username %}
        <div class="nav-item ">
            <a class="nav-link text-white" href="{% url 'logout' %}">Logout</a>
        </div>
        {% else %}
        <div class="nav-item ">
            <a class="nav-link text-white" href="{% url 'login' %}">Login</a>
        </div>
        <div class="nav-item ">
            <a class="nav-link text-white" href="{% url 'verify_email' %}">S'inscrire</a>
        </div>
        {% endif %}


        <div class="nav-item ">
            <form class="form-inline my-2 my-lg-0"  method="POST">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="key-search">
                <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>

    </nav>

    <div class="card">
        <img class="card-img-top" src="../static/images/ouverture.jpeg" alt="">
        <div class="card-body">
            <nav class="nav nav-pills nav-fill">
                <a class="nav-item nav-link font-weight-bold" href="{% url 'cooking_products' %}">Cusine</a>
                <a class="nav-item nav-link font-weight-bold" href="{% url 'sport_products' %}">Sport</a>
                <a class="nav-item nav-link font-weight-bold" href="{% url 'animal_products' %}">Animal</a>
                <a class="nav-item nav-link font-weight-bold" href="{% url 'study_products' %}">Étude</a>
            </nav>

            <!--            <button type="button" class="btn btn-primary">Vêtement</button>-->
            <!--            <button type="button" class="btn btn-secondary">Sport</button>-->
            <!--            <button type="button" class="btn btn-success">Animal</button>-->
            <!--            <button type="button" class="btn btn-warning">Meuble</button>-->
            <!--            <button type="button" class="btn btn-info">Livre</button>-->
        </div>
    </div>

    <div class="card-deck-wrapper" style="height:55%; overflow-y:scroll">
        <div class="card-deck" style="margin-bottom:4%;">
            {% for product in all %}
            {% if forloop.counter < 4 %}
            <a class="card text-dark" href="{% url 'detail' product.id %}">
                {% if product.image %}
                <img class="card-img-top" src="../uploads/products/{{product.image}}" alt="Card image cap" style="height:180px;">
                {% else %}
                <img src="../static/images/default.jpg"  alt="No photo available " style="height:180px;">
                {% endif %}

                <div class="card-body" style="height:180px; overflow-y:scroll">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <div class="card-text">
                        <small>Prix : {{ product.price }}</small><br>
                        <small>Catégorie : {{ product.category }}</small><br>
                        {% if product.descriptions %}
                        <small>Description : {{ product.descriptions }}</small><br>
                        {% else %}
                        <small>Description : Aucune.. </small><br>
                        {% endif %}
                        <small>Posteur : <b>{{product.user.username}}</b></small>
                    </div>
                </div>
                <div class="card-footer">
                    <small class="text-muted">{{ product.date_post }}</small>
                </div>
            </a>
            {% endif %}
            {% endfor %}
        </div>

        <div class="card-deck" style="margin-bottom:4%;">
            {% for product in all %}
            {% if forloop.counter > 3 and forloop.counter < 7 %}
            <a class="card text-dark" href="{% url 'detail' product.id %}">
                {% if product.image %}
                <img class="card-img-top" src="../uploads/products/{{product.image}}" alt="Card image cap" style="height:180px;">
                {% else %}
                <img src="../static/images/default.jpg"  alt="No photo available " style="height:180px;">
                {% endif %}

                <div class="card-body" style="height:180px; overflow-y:scroll">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <div class="card-text">
                        <small>Prix : {{ product.price }}</small><br>
                        <small>Catégorie : {{ product.category }}</small><br>
                        {% if product.descriptions %}
                        <small>Description : {{ product.descriptions }}</small><br>
                        {% else %}
                        <small>Description : Aucune.. </small><br>
                        {% endif %}
                        <small>Posteur : <b>{{product.user.username }}</b></small>
                    </div>
                </div>
                <div class="card-footer">
                    <small class="text-muted">{{ product.date_post }}</small>
                </div>
            </a>
            {% endif %}
            {% endfor %}
        </div>

        <div class="card-deck" style="margin-bottom:4%;">
            {% for product in all %}
            {% if forloop.counter > 6 %}
            <a class="card text-dark" href="{% url 'detail' product.id %}">
                {% if product.image %}
                <img class="card-img-top" src="../uploads/products/{{ product.image }}" alt="Card image cap" style="height:180px;">
                {% else %}
                <img src="../static/images/default.jpg"  alt="No photo available " style="height:180px;">
                {% endif %}

                <div class="card-body" style="height:180px; overflow-y:scroll">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <div class="card-text">
                        <small>Prix : {{ product.price }}</small><br>
                        <small>Catégorie : {{ product.category }}</small><br>
                        {% if product.descriptions %}
                        <small>Description : {{ product.descriptions }}</small><br>
                        {% else %}
                        <small>Description : Aucune.. </small><br>
                        {% endif %}
                        <small>Posteur : <b>{{product.user.username}}</b></small>
                    </div>
                </div>
                <div class="card-footer">
                    <small class="text-muted">{{ product.date_post }}</small>
                </div>
            </a>
            {% endif %}
            {% endfor %}
        </div>

    </div>


    <nav class="d-flex justify-content-center" aria-label="Page navigation" style="margin-top:2%;">
        <ul class="pagination">
            <!--        {# page before #}-->
            {% if page_obj.has_previous %}
            <li style="margin-right:10%;"><a href="{% url 'products' %}?page={{ page_obj.previous_page_number}}"><< </a></li>
            {% else %}
            <li style="margin-right:10%;" class="disabled"><a href="javascript:void(0);"><< </a></li>
            {% endif %}

            <!--        if left has more-->
            {% if left_has_more %}
            <li style="margin-right:10%;"><a href="{% url 'products' %}?page=1"></a></li>
            <li style="margin-right:10%;"><a href="javascript:void(0);">...</a></li>
            {% endif %}
            <!--        left page number-->
            {% for left_page in left_pages %}
            <li style="margin-right:10%;"><a href="{% url 'products' %}?page={{ left_page }}">{{ left_page }}</a></li>
            {% endfor %}

            <!--        current page number-->
            <li style="margin-right:10%;" class="active"><a href="{% url 'products' %}?page={{ current_page }}">{{ current_page }}</a></li>

            <!--        right page number-->
            {% for right_page in right_pages %}
            <li style="margin-right:10%;"><a href="{% url 'products' %}?page={{ right_page }}">{{ right_page }}</a></li>
            {% endfor %}

            <!--        right has more-->
            {% if right_has_more %}
            <li style="margin-right:10%;"><a href="javascript:void(0);">...</a></li>
            <li style="margin-right:10%;"><a href="{% url 'products' %}?page={{ total_page }}">{{ total_page }}</a></li>
            {% endif %}

            <!--        page next-->
            {% if page_obj.has_next %}
            <li style="margin-right:10%;"><a href="{% url 'products' %}?page={{ page_obj.next_page_number}}"> >></a></li>
            {% else %}
            <li style="margin-right:10%;" class="disable"><a href="javascript:void(0);"> >></a></li>
            {% endif %}

        </ul>
    </nav>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>