{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form" action="{% url 'login' %}" method="POST">
					<span class="login100-form-title p-b-26">
						Connexion
					</span>
                <br><br>

                <div class="wrap-input100 validate-input">
                    <input class="input100" type="text" name="username" onfocus="this.value=''">
                    <span class="focus-input100" data-placeholder="USERNAME"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Enter password">
						<span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
                    <input class="input100" type="password" name="password" onfocus="this.value=''">
                    <span class="focus-input100" data-placeholder="Mot de passe"></span>
                </div>


                <div class="container-login100-form-btn justify-content-center">
                    <input type="submit" class="btn btn-success" style="width:-webkit-fill-available" value="login"></input>
                </div>

                <div>
                    <p class="text-danger">{{ info }}</p>
                </div>

                <div class="text-center p-t-115">
						<span class="txt1">
							Vous n'avez pas de compte?
						</span>

                    <a class="txt2" href="{% url 'verify_email' %}" style="color:red">
                        S'inscrire
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>


<div id="dropDownSelect1"></div>
<p>{{ context.info }}</p>
{% endblock %}