{% extends 'base2.html' %}
{% load static %}
{% block content %}
{% for product in all %}
<div class="card-deck mx-auto" style="margin-top:1%;">
    <a class="card" href="{% url 'detail' product.id %}">
        <div class="row">
            <div class="col-5">
                {% if product.image %}
                <img class="card-img-top" src="..." alt="Card image cap" style="height:200px; weight:200px;">
                {% else %}
                <img src="../static/images/default.jpg" alt="No photo available " style="height:200px; weight:200px;">
                {% endif %}
            </div>

            <div class="col-7">
                <dl class="row d-flex align-items-center text-dark" style="padding-top:1%;">
                    <dt class="col-sm-4"><small>Nom :&nbsp</small></dt>
                    <dd class="col-sm-8"><small>{{ product.name }}</small></dd>
                    <dt class="col-sm-4"><small>Prix :&nbsp</small></dt>
                    <dd class="col-sm-8"><small>{{ product.price }}&nbsp €</small></dd>
                    <dt class="col-sm-4"><small>Description : &nbsp</small></dt>
                    {% if product.descriptions %}
                    <dd class="col-sm-8"><small> {{ product.descriptions }}</small></dd>
                    {% else %}
                    <dd class="col-sm-8"><small>Aucune.. </small></dd>
                    {% endif %}
                    <dt class="col-sm-4"><small>Categorie :&nbsp</small></dt>
                    <dd class="col-sm-8"><small> {{ product.category }}</small></dd>
                    <dt class="col-sm-4"><small>Posteur :&nbsp</small></dt>
                    <dd class="col-sm-8"><small> {{ product.user.username }}</small></dd>
                </dl>
            </div>

        </div>
        <div class="card-footer text-muted">
           Posté à <span class="text-dark">&nbsp{{ product.date_post }}}</span>
        </div>
    </a>
</div>
{% endfor %}
<nav class="d-flex justify-content-center" aria-label="Page navigation" style="margin-top:2%;">
    <ul class="pagination">
        <!--        {# page before #}-->
        {% if page_obj.has_previous %}
        <li style="margin-right:10%;"><a href="{% url 'study_products' %}?page={{ page_obj.previous_page_number}}"><< </a>
        </li>
        {% else %}
        <li style="margin-right:10%;" class="disabled"><a href="javascript:void(0);"><< </a></li>
        {% endif %}

        <!--        if left has more-->
        {% if left_has_more %}
        <li style="margin-right:10%;"><a href="{% url 'study_products' %}?page=1"></a></li>
        <li style="margin-right:10%;"><a href="javascript:void(0);">...</a></li>
        {% endif %}
        <!--        left page number-->
        {% for left_page in left_pages %}
        <li style="margin-right:10%;"><a href="{% url 'study_products' %}?page={{ left_page }}">{{ left_page }}</a></li>
        {% endfor %}

        <!--        current page number-->
        <li style="margin-right:10%;" class="active"><a href="{% url 'study_products' %}?page={{ current_page }}">{{ current_page }}</a></li>

        <!--        right page number-->
        {% for right_page in right_pages %}
        <li style="margin-right:10%;"><a href="{% url 'study_products' %}?page={{ right_page }}">{{ right_page }}</a></li>
        {% endfor %}

        <!--        right has more-->
        {% if right_has_more %}
        <li style="margin-right:10%;"><a href="javascript:void(0);">...</a></li>
        <li style="margin-right:10%;"><a href="{% url 'study_products' %}?page={{ total_page }}">{{ total_page }}</a></li>
        {% endif %}

        <!--        page next-->
        {% if page_obj.has_next %}
        <li style="margin-right:10%;"><a href="{% url 'study_products' %}?page={{ page_obj.next_page_number}}"> >></a></li>
        {% else %}
        <li style="margin-right:10%;" class="disable"><a href="javascript:void(0);"> >></a></li>
        {% endif %}

    </ul>
</nav>
{% endblock %}