<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../static/css/mysite.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container bg-gradient-light col-9" style="background:#F8E639;padding-top:1%;padding-bottom:1%;margin-top:2%;">
    <div class="border border-white" style="margin-top=2%;padding-top:2%;padding-bottom:2%;">
        <div class="row d-flex justify-content-center">
            <h3 class="text-dark font-weight-bold">
                Détail de Produit
            </h3></div>

        <div class="row" style="margin-bottom:2%;margin-top:3%;">
            <!--        image-->
            <div class="col-5  d-flex justify-content-center" style="margin-left:4%;margin-right:2%;">
                <div class="card">
                    {% if product.image %}
                    <img class="card-img-top" src="..." alt="Card image cap" style="height:100px;">
                    {% else %}
                    <img src="../static/images/default.jpg" style="height:300px;">
                    {% endif %}
                </div>
            </div>

            <!--        text-->
            <div class="col d-flex justify-content-start" style="margin-left:4%;margin-right:2%;">
                <dl class="row d-flex align-items-center">
                    <dt class="col-sm-4">Nom :&nbsp</dt>
                    <dd class="col-sm-8">{{ product.name }}</dd>
                    <dt class="col-sm-4">Prix :&nbsp</dt>
                    <dd class="col-sm-8">{{ product.price }}&nbsp €</dd>
                    <dt class="col-sm-4">Description : &nbsp</dt>
                    {% if product.descriptions %}
                        <dd class="col-sm-8"> {{ product.category }}</dd>
                        {% else %}
                    <dd class="col-sm-8">Aucune.. </dd>
                    {% endif %}
                    <dt class="col-sm-4">Posteur :&nbsp</dt>
                    <dd class="col-sm-8"> {{ product.user.username }}</dd>
                    <dt class="col-sm-4">Date de post :&nbsp</dt>
                    <dd class="col-sm-8"> {{ product.date_post }}</dd>

                </dl>
            </div>
        </div>

        <!--    buttons-->
        <form method="POST" class="row offset-7" style="margin-bottom:2%;margin-top:3%;">
            <div class="col-4">
                <button class="btn btn-danger" type="submit" name="action" value="like">Aimer</button>
            </div>

            {% if username != product.user.username %}
            <div class="col-4">
                <button class="btn btn-success" type="submit" name="action" value="buy">Acheter</button>
            </div>
            {% endif %}


            <div class="col-4">
                    <a href="{% url 'products' %}" class="btn btn-dark">Annuler</a>
            </div>

        </form>


    </div>
</div>
<script src="../static/js/myjs.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>