<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../static/css/mysite.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container bg-gradient-light" style="padding-top:1%;padding-bottom:1%;">
    <div id="title" class="bg-primary col-md-8 offset-md-2 d-flex justify-content-center" style="margin-bottom:1%;">
        <h3 class="text-white">Vérification par mail</h3>
    </div>

<!--    edit name-->
    <div id="edit-name" class="border border-primary col-md-8 offset-md-2"
         style="margin-top=2%;padding:2%;margin-bottom:2%;">
        <div class="col-md-10 offset-md-2">
            <form action="{% url 'verify_email' %}" class="form-horizontal" role="form" method="POST" id="verify-email">
                <div class="form-group">
                    <label for="email" class="control-label">Email </label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="email" name="email" onfocus="this.value=''"
                           placeholder="Adresse email" required>

                    </div>
                </div>
                <div class="alert alert-info" role="alert">
                    Attention! Veuillez saisir une adresse e-mail valide et nous vous enverrons un e-mail à l'adresse indiquée dans 2 minutes, qui contient un code de vérification à six chiffres.
                </div>

                    <div class="form-group">
                        <!-- Button -->
                        <div class="col-md-offset-3 col-md-9" style=" margin-top:20px;">
                            <button id="btn-name" type="submit" class="btn btn-info col-md-12" ><i
                                    class="icon-hand-right"></i> &nbsp Vérification
                            </button>

                        </div>
                    </div>
            </form>
        </div>
    </div>

    <div class="d-flex justify-content-center col-md-8 offset-md-2" >
        <span class="text-dark">Naviguez comme un touriste..? </span>
        <a href="{% url 'products' %}">&nbsp &nbsp Accueil</a>
    </div>

    <div id="end" class="bg-warning d-flex justify-content-center col-md-8 offset-md-2" style="margin-bottom:1%;">
                <span class="text-white">Vous avez déjà une compte..? </span>
                <a class="text-danger" href="{% url 'login' %}" style="color:red">&nbsp &nbsp &nbsp Se Connecter</a>
    </div>
</div>
<script src="../static/js/myjs.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>