{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="col-md-6 col-md-offset-3 col-xs-15 col-xs-offset-4" style="background-color:#FFD433; margin-top:2%;">
    <div class="row">
        <h3 class="text-center text-black" style="margin-top:3%;margin-bottom:1%"><b>S'inscrire</b></h3>
    </div>
    <div class="row" style="width:95%; margin-left:5%">
        <form id="signup-form" class="form-horizontal" role="form" action="{% url 'register' %}"
              onsubmit="return check_register()" method="POST">
            <div class="float-right" style="margin-left:5%">
                <p class="text-danger" style="font-size:10px">Attention : Les champs avec * sont obligatoire à
                    remplir!!! </p>
            </div>
            <br>
            <div class="alert alert-warning" role="alert" id="rgwarming-info"
                 style="display:none;margin-top:1%;margin-bottom:1%">
                Les champs avec * sont obligatoire à remplir!!
            </div>
            <div class="alert alert-warning" role="alert" id="context" style="margin-top:5px">
                <p>{{ state }}</p>
            </div>
            <!--            Email-->
            <div class="form-group">
                <label for="email" class="col-md-3 col-xs-6">Email *</label>
                <div class="col-md-9 col-xs-11">
                    <input type="text" class="form-control" id="email" name="email"
                           placeholder="Adresse email" required>
                </div>

                <div class="help-block avec_erreur badge badge-danger" id="rgemail_alert"
                     style="display:none;margin-top:5px">Veuillez saisir le format correct de mail!!!
                </div>

            </div>

            <!--            email code-->
            <div class="form-group">
                <label for="rgpassword" class="col-md-3 col-xs-6">Code à Vérifier *</label>
                <div class="col-md-9 col-xs-11">
                    <input type="text" id="rgemailcode" data-minlength="8" class="form-control"
                           name="rgemailcode" placeholder="Avec 6 caractères" required>
                </div>

                <div class=" row col-md-12 justify-content-end">

                    <div class="text-center">
                        <span class="txt1">Vous n'avez pas reçu le code ?</span>
                        <a class="txt2" href="{% url 'verify_email' %}" style="color:red"> Renvoyer</a>
                    </div>
                </div>
            </div>

            <!--            password-->
            <div class="form-group">
                <label for="rgpassword" class="col-md-3 col-xs-6">Mot de passe *</label>
                <div class="col-md-9 col-xs-11">
                    <input type="password" id="rgpassword" data-minlength="8" class="form-control"
                           name="password" placeholder="mot de passe" required>
                    <div class="help-block text-danger p-6">Minimum de 8 caractere</div>
                </div>
            </div>

            <!--            repeat-password-->
            <div class="form-group">
                <label for="rgrepeat_password" class="col-md-3 col-xs-6">Confirmer le mot de passe *</label>
                <div class="col-md-9 col-xs-11">
                    <input type="password" id="rgrepeat_password" data-minlength="8" class="form-control"
                           name="repeat_password" placeholder="Entrer le même mot de passe" required>
                </div>
                <div class="help-block avec_erreur badge badge-danger" id="rgpwd_alert"
                     style="margin-top:5px;display:none">Les mots de passe entrés deux fois ne correspondent
                    pas!!!
                </div>
                <div class="help-block avec_erreur badge badge-danger" id="rgpwd_alert_2"
                     style="margin-top:5px;display:none">Les mots de passe sont Minimum de 8 caractere!!!
                </div>
            </div>

            <!--            username-->
            <div class="form-group">
                <label for="rgusername" class="col-md-3 col-xs-6">Username *</label>
                <div class="col-md-9 col-xs-11">
                    <input type="text" class="form-control" id="rgusername" name="username"
                           placeholder="username" required>
                </div>
            </div>

            <!--            prenom-->
            <div class="form-group">
                <label for="firstname" class="col-md-3 col-xs-6">Prenom </label>
                <div class="col-md-9 col-xs-11">
                    <input type="text" class="form-control" id="firstname" name="firstname"
                           placeholder="Prenom">
                </div>
            </div>
            <!--nom-->
            <div class="form-group">
                <label for="lastname" class="col-md-3 col-xs-6">Nom </label>
                <div class="col-md-9 col-xs-11">
                    <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Nom">
                </div>
            </div>

            <!--            sex-->
            <div class="form-group">
                <label class="col-md-2 col-xs-5">Sex *</label>
                <a class="col-md-1  col-xs-2"></a>
                <input type="radio" name="sex" value="Male" id="rgmale">Male</input>
                <a class="col-md-1 col-xs-2"></a>
                <input type="radio" name="sex" value="Female" id="rgfemale">Female</input>
                <div class="help-block avec_erreur badge badge-danger" id="rgsex_alert"
                     style="display:none;margin-top:5px">Veuillez sélectionner votre sexe!!
                </div>
            </div>

            <div class="form-group">
                <!-- Button -->
                <div class="col-md-offset-1 col-md-9" style=" margin-top:20px;">
                    <input id="btn-signup" type="submit" class="btn btn-info col-md-12" value="Submit"></input>
                </div>
            </div>

            <div class="form-group" style="border-top:1px solid #999;">
                        <!-- Button -->
                        <div class="col-md-offset-3 col-md-9">
                            <div class="text-center">
                                <span class="txt1">Vous avez déjà une compte?</span>
                                <a class="txt2" href="{% url 'login' %}" style="color:red"> Se Connecter</a>
                            </div>
                        </div>
                    </div>

        </form>
    </div>
</div>
{% endblock %}